
<!DOCTYPE html>
<html>
<title>PoP :: AC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/style.css">
<body>

<div class="w3-container">

<ul  class="w3-navbar w3-theme " id="top">
  <li><a class="w3-padding-16" href="index.html">Início</a></li>
  <li><a class="w3-orange w3-padding-16" href="servicos.html" style="border-left: solid 1px #fff;">Servicos</a></li>
  <li><a class="w3-padding-16" href="clientes.html" >Clientes</a></li>
  <li><a class="w3-padding-16" href="videoconferencia.html" >Videoconferência</a></li>
  <li><a class="w3-padding-16" href="pontodepresenca.html" style="border-right: solid 1px #fff;">Ponto de Presença</a></li>
  <li><a class="w3-padding-16" onclick="document.getElementById('ContatoModal').style.display='block'">Contato</a></li>
  <li class="w3-right w3-dropdown-hover">
    <a class="w3-padding-16" href="javascript:void(0)" style="border-left: solid 1px #fff;">Usuário <i class="fa fa-caret-down"></i></a>
    <div class="w3-dropdown-content w3-card-4">
      <a class="w3-padding-16" href="javascript:void(0)">Entrar</a>
      <a class="w3-padding-16" href="javascript:void(0)">Cadastrar</a>
    </div>
  </li>
</ul>
<div class="w3-row w3-container w3-orange"><p></p></div>


<!-- batatas img src="static/imagens/servicos2.png" alt="banner" height="170" width="100%" >

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader"> 
  <div class="w3-center">
  <h2 class=" w3-animate-bottom" style="color:#fff">Esses são alguns dos serviços oferecidos pela RNP</h2>
  </div>
</header>



<div class="tabs">
    <!-- Radio button and lable for #tab-content1 -->
    <input type="radio" name="tabs" id="tab1" checked >
    <label for="tab1">
        <i class="fa fa-tachometer"></i><span>Tráfego</span>
    </label>
    <!-- Radio button and lable for #tab-content2 -->
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">
        <i class="fa fa-sitemap"></i><span>Backbone RPN</span>
    </label>
    <!-- Radio button and lable for #tab-content3 -->
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">
        <i class="fa fa-list-alt"></i><span>Serviços RPN</span>
    </label>
    <input type="radio" name="tabs" id="tab4">
    <label for="tab4">
        <i class="fa fa-th-large"></i><span>Disponibilidade</span>
    </label>

    <div id="tab-content1" class="tab-content" align="center">
        <img id="wmapimage" src="http://weathermap.pop-ac.rnp.br/plugins/weathermap/weathermap-cacti-plugin.php?action=viewimage&amp;id=8ffd6a6972d50475e8ee&amp;time=1461773102" width="60%" height="100%" border="0" usemap="#weathermap_8ffd6a6972d50475e8ee_imap">
        <p>Atualizado a cada 5 minutos</p>
    </div> <!-- #tab-content1 -->

    <div id="tab-content2" class="tab-content" align="center">
        <img class="" border="0" name="image" alt="image" src="http://monitor.pop-ac.rnp.br/map.php?sysmapid=2&amp;severity_min=0" usemap="#links3" width="60%" height="100%">
    </div> <!-- #tab-content2 -->

    <div id="tab-content3" class="tab-content" align="center">
          <div class="w3-accordion">
              <button onclick="myAccFunc('Servico1')" class="w3-padding-16 w3-white w3-border w3-leftbar w3-border-theme w3-btn-block w3-left-align" ><h4><b>Comunicação e Colaboração</b></h4></button>
              <div id="Servico1" class="w3-accordion-content">
                <div class="w3-container w3-bottombar w3-border-orange">
                  <h3>
                    A RNP oferece aos seus clientes os seguintes serviços de comunicação e colaboração: <a href="http://www.rnp.br/conferenciaweb/">Conferência Web</a> <a href="http://www.rnp.br/voip/">fone@RNP</a> <a href="http://www.rnp.br/videoconferencia/">Videoconferência</a>
                  </h3>
                </div>
              </div>
              <hr style="height:0.1px; visibility:hidden; margin-bottom:-10px;">

              <button onclick="myAccFunc('Servico2')" class="w3-padding-16 w3-white w3-border w3-leftbar w3-border-theme w3-btn-block w3-left-align" ><h4><b>Suporte a Rede Academica</h4></b></button>
              <div id="Servico2" class="w3-accordion-content">
                <div class="w3-container w3-bottombar w3-border-orange">
                  <h3>
                     Gerenciado e operado pela RNP, o Ponto Federal de Interconexão de Redes (FIX) é um Ponto de Troca de Tráfego (PTT) que viabiliza a interconexão entre redes, aumentando a eficiência da transferência de dados.
                     <a href="http://www.fix.org.br/">Veja mais aqui.</a>
                  </h3>
                </div>
              </div>
              <hr style="height:0.1px; visibility:hidden; margin-bottom:-10px;">
            
              <button onclick="myAccFunc('Servico3')" class="w3-padding-16 w3-white w3-border w3-leftbar w3-border-theme w3-btn-block w3-left-align" ><h4><b>Disponibilização de Conteúdos Digitais</h4></b></button>
              <div id="Servico3" class="w3-accordion-content">
                <div class="w3-container w3-bottombar w3-border-orange">
                  <h3>
                     Através de sua rede inteligente de distribuição de vídeo digital, a RNP provê os serviços de: <a href="http://www.rnp.br/videosobdemanda/">Vídeo sob Demanda</a> <a href="http://www.rnp.br/servicos/sinaldetv.html">Transmissão de Sinal de TV</a> <a href="http://www.rnp.br/servicos/transmissoes/">Transmissão de Vídeo ao Vivo</a></p>
                  </h3>
                </div>
              </div>
              <hr style="height:0.1px; visibility:hidden; margin-bottom:-10px;">

            <button onclick="myAccFunc('Servico4')" class="w3-padding-16 w3-white w3-border w3-leftbar w3-border-theme w3-btn-block w3-left-align" ><h4><b>Hospedagem Estratégica</h4></b></button>
              <div id="Servico4" class="w3-accordion-content">
                <div class="w3-container w3-bottombar w3-border-orange">
                  <h3>
                    O Internet Data Center (IDC) é o serviço de hospedagem de equipamentos e servidores dentro do modelo conhecido como colocation. Este serviço fornece uma infraestrutura de segurança, física e lógica, para clientes estratégicos para o sistema nacional de CT&amp;I, Cultura e Saúde, com garantias de disponibilidade e operação ininterrupta.
                    <a href="http://www.rnp.br/idc/">Veja mais aqui.</a>
                  </h3>
                </div>
              </div>
              <hr style="height:0.1px; visibility:hidden; margin-bottom:-10px;">
              
              <button onclick="myAccFunc('Servico5')" class="w3-padding-16 w3-white w3-border w3-leftbar w3-border-theme w3-btn-block w3-left-align" ><h4><b>Apoio a Serviços</h4></b></button>
              <div id="Servico5" class="w3-accordion-content">
                <div class="w3-container w3-bottombar w3-border-orange">
                  <h3>
                    O Service Desk é uma instância de apoio, voltada à resolução de dificuldades que as instituições clientes dos serviços possam encontrar na entrega, acesso ou utilização dos mesmos.
                    <a href="http://www.rnp.br/servicos/servicedesk.html">Veja mais aqui.</a>
                  </h3>
                </div>
              </div>
              <hr style="height:0.1px; visibility:hidden; margin-bottom:-10px;">

              <button onclick="myAccFunc('Servico6')" class="w3-padding-16 w3-white w3-border w3-leftbar w3-border-theme w3-btn-block w3-left-align" ><h4><b>Gestão de identidade</h4></b></button>
              <div id="Servico6" class="w3-accordion-content">
                <div class="w3-container w3-bottombar w3-border-orange">
                  <h3>
                    A RNP reúne as Instituições Federais de Ensino Superior (Ifes), Unidades de Pesquisa (UPs) e demais instituições acadêmicas em uma rede de confiança, por meio dos serviços: <a href="http://www.rnp.br/servicos/cafe.html">Comunidade Acadêmica Federada (CAFe)</a> <a href="http://www.rnp.br/servicos/icpedu.html">Infraestrutura de Chaves Públicas para Ensino e Pesquisa (ICPEdu)</a>
                  </h3>
                </div>
              </div>
        </div>
    </div> <!-- #tab-content3 -->
    <div id="tab-content4" class="tab-content" align="center">
        <table align="center">
              <tbody>
                <tr>
                  <td width="137" height="169" align="center"><p><img src="static\imagens\clientes_raw.png" alt="clientes" width="74" height="98" align="absmiddle"></p>
                    <p>UFAC</p></td>
                  <td width="139" align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>UFAC Centro</p></td>
                  <td width="110" align="center"><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>UFAC Floresta</p></td>
                  <td width="103" align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>IFAC Sede</p></td>
                  <td width="102" align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>IFAC Campus</p></td>
               </tr>
                <tr>
                  <td align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>IFAC CZS</p></td>
                  <td align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>EMBRAPA</p></td>
                  <td align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>FUNTAC</p></td>
                  <td align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>INMETRO</p></td>
                  <td align="center"><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>FUNDHACRE</p></td>
                </tr>
                <tr>
                  <td align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>ESCOLA TÉCNICA DE SAUDE</p></td>
                  <td align="center" ><p><img src="static\imagens\clientes_raw.png" width="74" height="98" alt="clientes"></p>
                    <p>HOSPITAL DA CRIANÇA</p></td>
                  <td align="center">&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td align="center">&nbsp;</td>
                </tr>
            </tbody>
          </table>
        
    </div> <!-- #tab-content4 -->
</div>


<!--div class="w3-center">

</div>
</div>

<div class="w3-row-padding">
<div class="w3-half">
<div class="w3-card white">
  <div class="w3-container w3-orange">
    <h3>Tráfego</h3>
  </div>
  <div class="w3-container" >
  <img id="wmapimage" src="http://weathermap.pop-ac.rnp.br/plugins/weathermap/weathermap-cacti-plugin.php?action=viewimage&amp;id=8ffd6a6972d50475e8ee&amp;time=1461773102" width="100%" height="100%" border="0" usemap="#weathermap_8ffd6a6972d50475e8ee_imap">
  </div>
  <div class="w3-container">
  <h3 class="w3-text-orange">Atualizado a cada 5 minutos</h3>
  </div>
  <div class="w3-container w3-orange w3-large"><span class="w3-right">&nbsp;</span></div>
</div>
</div>

<div class="w3-half">
<div class="w3-card white">
  <div class="w3-container w3-orange">
    <h3>Backbone Nacional PoP-AC/RNP</h3>
  </div>
  
  <div class="w3-container" >

  <img class="" border="0" name="image" alt="image" src="http://monitor.pop-ac.rnp.br/map.php?sysmapid=2&amp;severity_min=0" usemap="#links3" width="99.2%" height="100%">

  </div>
  <div class="w3-container w3-orange w3-large"><span class="w3-right">&nbsp;</span></div>
</div>
</div>

</div>

<br>

<!-- Footer -->
<footer class="w3-container w3-theme-dark">
  <h3>Footer</h3>
  <p>Copyright © Ponto de Presença da RNP no Acre. Todos os direitos reservados</p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme w3-padding">Ir para o início</span>&nbsp;   
    <a class="w3-text-white" href="#top"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<!-- Script for Sidenav, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
    var x = document.getElementById("mySidenav");
    x.style.width = "100%";
    x.style.textAlign = "center";
    x.style.fontSize = "50px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
      activebtn[i].className = activebtn[i].className.replace(" w3-theme-dark", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-theme-dark";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className = x.previousElementSibling.className.replace("w3-white", "w3-theme");
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace("w3-theme", "w3-white");
    }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
slideIndex = slideIndex + n;
showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      document.getElementById("demoprgr").innerHTML = width * 1  + '%';
    }
  }
}



</script>



</body>
</html>